/* -------------------------------------------------------------------------- */
/*                          QUA METTO TUTTI I MIXINS                          */
/* -------------------------------------------------------------------------- */

@mixin myButton($bgColor, $textColor, $outline:false) {
    background: $bgColor;
    padding:0.5rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    color:$textColor;
   

    &:hover {
        background: darken($bgColor,5%);
    }

    @if $outline==true {
        background: transparent;
        border:1px solid $bgColor;

        &:hover {
            background:transparentize($bgColor,0.5);
            color:$bgColor;
        }
    }

}


@mixin myGradient($from, $to, $direction:180deg) {
    background: $from;
    background: linear-gradient($direction, $from 0%, $to 100%);
}