//COLORI

$blue : #00567a;
$lightBlue : lighten($blue,20%);
$white: #f8f8f8;
$altColor: #ffcb10;
$black : #333;

$spacer : 1rem;

//FONT
$font-family-sans: 'Helvetica', Arial, sans-serif;
$font-family-serif: 'Times New Roman', Times, Georgia, serif;

