@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'menu';

body {
    background:$white;
    color:$black;
    font-family: $font-family-sans;  

   
}

h1,h2,h3 {
    font-family: $font-family-serif;
    margin-top: $spacer*3; 
}

h1 {
    font-weight: bold;
    color:$blue;  
    font-size: 4rem; 
}

.bigText {
   @extend h1; /*@extend applica le caratteristiche di un selettore a un altro gruppo di regole */
   text-shadow:1px 1px 1px darken($blue,15%); 
}


#mainFooter {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 4rem;

    @include myGradient(#ffcc00,#900000); //il mixin supporta 3 parametri, ma posso passarne 2 perché
    //il terzo parametro ha un valore di default impostato sul mixin.
}

.button {
    @include myButton($blue,$white);
}

.button-alt {
    @include myButton($blue,$blue,true); //bottone con OUTLINE settato a TRUE.
}

