.box1 {
    background:#ff00cc;

   height:100vh; /*altezza 100% del VIEWPORT */

    width:80%;
  
}

.box2 {
    background-color: rgb(74, 255, 46);
    height:500px; 

    width:50%;
}

.box3 {
    background: #0051ff;
    height:500px;

    width:50%;
}

/* -------------------------------------------------------------------------- */
/*                                     REM                                    */
/* -------------------------------------------------------------------------- */

/*la dimensione di default del testo è normalmente 1rem*/
/* 1rem di default corrisponde a 16px */

h1 {
    font-size: 4rem; /*3x la dimensione base del carattere */
}

h2 {
    font-size: 2rem; /*1.5 la dimensione base del carattere */
    /*posso usare dimensioni decimali, ad esempio 1.75rem */
}

.smaller   {
    font-size: 0.75rem; /*font più piccolo*/
}

p {
    margin-bottom: 2rem;
}

.titoletto {
    font-size: 0.25em; /*unità di misura relativa alla dimensione del testo del genitore */

    /*0.25em = 25% della dimensione del testo del genitore*/

}
