/* -------------------------------------------------------------------------- */
/*                           STILI GENERALI E MOBILE                          */
/* -------------------------------------------------------------------------- */
* {box-sizing: border-box;}

body {
    font-family: 'Roboto', sans-serif;
    background: #efefef;
    color:#333;
}

img { /*rendo fluide le immagini */
    max-width:100%;
    height:auto
}

.logo img {
    width: 3rem;
}

.container {
    width: 96%;
    margin:0 auto;
}


.servImage img {
    /*per allargare le immagini da mobile in modo da occupare tutto il viewport*/
    width: 100%;
}

/* GALLERY */

#gallery {
    display: flex;
    flex-wrap: wrap;
}

.galleryImage {
    width: 50%;
    padding:0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                           REGOLE PER SCHERMI MEDI                          */
/* -------------------------------------------------------------------------- */

@media screen and (min-width:768px) {

    .logo img {
        width: 6rem;
    }

    .container {
        width: 92%;
        /*margin: 0 auto non è dichiarato perché lo eredita dal selettore .container nel blocco di css precedente */
    }


    .galleryImage {
        width: 33.333%;
        
    }

    .servizio {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
    }

    .servImage {
        width: 30%;
    }

    .servizio:nth-of-type(even) .servText {
        order:-1;
        text-align: right;
    }

    .servText {
        width: 70%;
        padding:1rem;
    }


   
   

}  /* FINE MEDIA QUERY  */

/* -------------------------------------------------------------------------- */
/*                          REGOLE PER SCHERMI GRANDI                         */
/* -------------------------------------------------------------------------- */

@media screen and (min-width:1024px) {

    .container {
        width: 70%;
    }

    .galleryImage {
        width: 25%;
    }

    .galleryImage.expandLarge {
        /*SOLO gli elementi che hanno entrambe le classi*/
        width: 50%
    }

}
