/* -------------------------------------------------------------------------- */
/*                           STILI GENERALI E MOBILE                          */
/* -------------------------------------------------------------------------- */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #efefef;
    color: #333;
}

img {
    /*rendo fluide le immagini */
    max-width: 100%;
    height: auto;
}

.logo img {
    width: 3rem;
}

#mainHeader {
    display: flex;
    /*da schermi medi affianco logo e menu*/
    align-items: center;
    justify-content: space-between;
}

/* -------------------------------------------------------------------------- */
/*                              STILI MENU MOBILE                             */
/* -------------------------------------------------------------------------- */

.menuIcon img{
    width: 1.5rem;
}

.mainMenu ul {
    list-style-type: none;
    padding: 0;
    display: none; /*NASCONDE il menu da mobile */

}



.container {
    width: 96%;
    margin: 0 auto;
}

.servImage img {
    /*per allargare le immagini da mobile in modo da occupare tutto il viewport*/
    width: 100%;
}

/* GALLERY */

#gallery {
    display: flex;
    flex-wrap: wrap;
}

.galleryImage {
    width: 50%;
    padding: 0.5rem;
}

/* --- FOOTER -- */

#mainFooter {
    background-color: #2B3D7A;
    color: #ccc;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#mainFooter .social img {
    /*tutte le immagini dentro mainfooter e anche dentro .social */

    width: 1.25rem;

}

#mainFooter .social {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                           STILI MENU MOBILE OPEN                           */
/* -------------------------------------------------------------------------- */

.is-mobile-open .mainMenu ul {
    /*faccio riapparire il menu!*/
    display: block;
}

.is-mobile-open nav.mainMenu {
    /*posiziono il menu mobile SOPRA tutta la pagina */
    background:#efefef;

    position: fixed; /*sovrappone l'elemento e lo fissa secondo le coordinate che imposto */
    left:0; /*posiziona all'inizio della pagina, a sinistra */
    top:52px; /*posiziona 52px dal limite superiore - l'altezza esatta della barra menu da mobile!*/
    height:100vh;
    width:100%;
}

.is-mobile-open a {
    display: block; /* Il link diventa elemento blocco e occupa tutto lo schermo */
    padding:1rem;
    text-align: center;
    border-bottom:1px solid #888;
}

.is-mobile-open a:hover {
    background: #222;
    color:#efefef;
}


/* -------------------------------------------------------------------------- */
/*                           REGOLE PER SCHERMI MEDI                          */
/* -------------------------------------------------------------------------- */

@media screen and (min-width:768px) {

    .logo img {
        width: 6rem;
    }

    /*STILI MENU SCHERMI MEDI */

    #menuIcon {
        display: none;
    }

    .mainMenu ul {
        /*list-style-type: none | EREDITATO DA SOPRA */
        display: flex; /*riappare perché display:flex sovrascrive display:none*/
        column-gap: 1rem;
    }

    .container {
        width: 92%;
        /*margin: 0 auto non è dichiarato perché lo eredita dal selettore .container nel blocco di css precedente */
    }

    .galleryImage {
        width: 33.333%;

    }

    .servizio {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
    }

    .servImage {
        width: 30%;
    }

    .servizio:nth-of-type(even) .servText {
        order: -1;
        text-align: right;
    }

    .servText {
        width: 70%;
        padding: 1rem;
    }

    /*--- FOOTER SCHERMI MEDI ---*/

    .footerWrapper {
        display: flex;
        align-items: center;
    }

    .contatti,
    .credits,
    .social {
        width: 33%;
    }

    .social {
        text-align: center;
    }

    .credits {
        text-align: right;
    }

}
/* FINE MEDIA QUERY  */

/* -------------------------------------------------------------------------- */
/*                          REGOLE PER SCHERMI GRANDI                         */
/* -------------------------------------------------------------------------- */

@media screen and (min-width:1024px) {

    .container {
        width: 70%;
    }

    .galleryImage {
        width: 25%;
    }

    .galleryImage.expandLarge {
        /*SOLO gli elementi che hanno entrambe le classi*/
        width: 50%;
    }

}
