* {
    box-sizing: border-box;
}

body {
    /*famiglia di Google Fonts*/
 font-family: 'Poppins', sans-serif;
}

.container {
    width:70%;
    margin:auto;
}

img {
    max-width: 100%; /*rendo fluide TUTTE le immagini */
    /*anche se l'immagine è più grande del contenitore, si adatterà alla sua dimensione*/
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

#mainHeader {

    display: flex;
    justify-content: space-between;
    /*allineo sul MAIN AXIS (orizzontale) e dispongo ai lati estremi*/

    align-items: center;
    /*centro sul CROSS AXIS (verticale).*/

}

#mainNav ul {
    /*l'elemento UL dentro mainNav */
    list-style-type: none;
    padding: 0;

    /*faccio affiancare gli <li> figli */
    display: flex;

    /*spaziatura tra gli elementi flexbox*/
    /*NOTA: diverso da padding perché agisce solo sugli spazi
    tra gli elementi*/
    column-gap: 1.5rem;
}

.logo img {
    /*immagine dentro il DIV.logo*/
    width: 6rem;
}


/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */

#hero {
    height:100vh; /*100% altezza del viewport! */
    /*vh = viewport height, misura relativa all'altezza viewport*/
    /* ../ sale di un livello nella struttura della cartella*/
    background-image: url('../images/hero_white.jpg');

    /*evito che il background venga ripetuto se più piccolo del 
    contenitore*/
    background-repeat: no-repeat;

    /*adatto la dimensione del background al contenitore */
    background-size: cover;

    /*disponi l'immagine di background al centro orizz.+vert.*/
    background-position: center center;


    display: flex; /*per disporre la .cta all'interno*/
    align-items: center; /*allineo .cta in verticale*/
 

}

.cta h1 {
    font-size: 4rem;
    font-weight: 900;
}


.cta h1 span {
    /*elemento span dentro h1 dentro .cta */
    font-weight: 300;
}

/* -------------------------------------------------------------------------- */
/*                                   SERVIZI                                  */
/* -------------------------------------------------------------------------- */

section#servizi {

    padding-top: 4rem;
    padding-bottom: 4rem;

    

}

.servizio {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    margin-bottom: 2rem;

}

.sImage {
    width:33.333%;
}



.sText {
    width: 66.666%;
}

/* -------------------------------------------------------------------------- */
/*                                 LISTA DRINK                                */
/* -------------------------------------------------------------------------- */

.drinkList {
    display: flex;
    flex-wrap: wrap; /*quando lo spazio finisce, manda a capo i figli*/
    
  
    margin-left:-1rem; /*il margine negativo SPOSTA a SINISTRA l'elemento */
    margin-right: -1rem; /* il margine negativo SPOSTA a DESTRA l'elemento */

}

.drink { 
    width: 33.33%;
    padding:1rem;

}

.drink img {
    width: 100%;
}


/* -------------------------------------------------------------------------- */
/*                                 STILI FORM                                 */
/* -------------------------------------------------------------------------- */

textarea#note {

    width:100%;
    height:10rem;

    resize:none; /*tolgo la possibilità di ridimensionare il textarea */
}

fieldset#anagrafici {
    display: flex;
    flex-wrap: wrap;
}

#anagrafici .inputWrapper {
    width: 33%;
    margin-bottom: 1.5rem;
}

fieldset#preferenze {
    display: flex;
    flex-wrap: wrap;
}





/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

#mainFooter {
    background:#222;
    color:#cdcdcd;
    padding-top:2rem;
    padding-bottom: 2rem;

    text-align: center;
}